input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  width: 300px;
  height: 7px;
  margin: auto;
  background: $dark-grey;
  border-radius: 5px;

  &::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    height: 7px;
    width: 30px;
    border-radius: 5px;
    background: $light-grey;
    cursor: pointer;
    transition: background .3s ease-in-out;
  }

  &::-webkit-slider-runnable-track {
    appearance: none;
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
  }
}