::-webkit-scrollbar {
    width: 10px;
    position: absolute;
    left: 10px;

    &-track {
        background: $dark-grey;
        border-radius: 3px;
    }
    
    &-thumb {
        background: $light-grey;
        border-radius: 3px;
        
        &:hover {
            cursor: pointer;
        }
    }
}