.modal-window {
    position: fixed;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 20px 20px 10px 10px;

    width: 700px;
    height: 60vh;

    background: $dark-grey;
    border-top-right-radius: 5%;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        border: 2px solid $light-grey;
        border-top-right-radius: 5%;

        position: absolute;
        bottom: -10px;
        left: -10px;
        z-index: -1;
        mix-blend-mode: darken;
    }
}

.close-button {
    background-image: url(./assets/icon/close.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    width: 25px;
    height: 25px;
    cursor: pointer;

    margin: 0px 10px;
}

.character-modal {
    display: grid;
    grid-template-areas:
        "title close"
        "characters characters";
    grid-template-columns: 1fr max-content;
    row-gap: 15px;

    &__title {
        @extend %font-settings;
    }

    &__icons {
        grid-area: characters;

        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 17px;

        overflow-y: scroll;
        scroll-behavior: smooth;
    }
}

.lvl-modal {
    width: max-content;
    height: max-content;

    display: grid;
    grid-template-areas:
        "title lvl close"
        "range lvl close";
    gap: 10px;

    &__title {
        @extend %font-settings;
        grid-area: title;
    }

    &__range {
        grid-area: range;
    }

    &__lvl {
        cursor: auto;
        grid-area: lvl;
    }

    &>.close-button {
        grid-area: close;
    }
}

.lightcone-modal {
    display: grid;
    grid-template-areas:
        "title title title close"
        "lightcones selectedCone range lvl"
        "lightcones description description description";
    grid-template-columns: 1fr min-content 10px max-content;
    grid-template-rows: min-content min-content 1fr;
    column-gap: 30px;
    row-gap: 15px;

    &__title {
        @extend %font-settings;
        grid-area: title;
    }

    &__lightcones {
        grid-area: lightcones;

        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: flex-start;
        gap: 15px;

        padding-right: 10px;

        overflow-y: auto;
        scroll-behavior: smooth;
    }

    &__selected-lightcone {
        grid-area: selectedCone;
        height: 300px;
    }

    &__range {
        grid-area: range;
        transform: rotate(-90deg);
        transform-origin: left;
        position: absolute;
        bottom: 0;
    }

    &__lvl {
        grid-area: lvl;
        margin: auto;
        margin-left: 0px;
    }

    &__description {
        @extend %font-settings;
        font-size: 1rem;
        grid-area: description;
        width: 420px;
        display: block;
        margin: auto 0px;
    }

    &>.close-button {
        grid-area: close;
    }
}